Question 1 :
Write a program to subtract two complex numbers in Python.

In [ ]:
complexNumber1 = 2 + 3j
complexNumber2 = 5 + 4j
subtractedResult = complexNumber2 - complexNumber1
print(subtractedResult)

(3+1j)

Question 2 :
Write a program to find the fourth root of a number

In [ ]:
number = 166
degree = 4
result = number**(1/float(degree))
print(result)

3.589442676339201

Question 3:
Write a program to swap two numbers in Python with the help of a temporary variable.

In [ ]:
variable1 = 10
variable2 = 20
print('initial variable1',variable1)
print('initial variable2',variable2)
print('--------------------')

temp = variable1
variable1 = variable2
variable2 = temp
print('swapped variable1',variable1)
print('swapped variable2',variable2)

initial variable1 10
initial variable2 20
--------------------
swapped variable1 20
swapped variable2 10

Question 4:
Write a program to swap two numbers in Python without using a temporary variable.

In [ ]:
variable1 = 10
variable2 = 20
print('initial variable1',variable1)
print('initial variable2',variable2)
print('--------------------')

variable1 = variable1 + variable2
variable2 = variable1 - variable2
variable1 = variable1 - variable2
print('swapped variable1',variable1)
print('swapped variable2',variable2)

initial variable1 10
initial variable2 20
--------------------
swapped variable1 20
swapped variable2 10

Question 5:
Write a program to convert fahrenheit to kelvin and celsius both.

In [49]:
temperatureInCelsius = 27
temperatureInKelvin = temperatureInCelsius + 273.15
print(temperatureInKelvin)

300.15

Question 6:
Write a program to demonstrate all the available data types in Python.

In [46]:
stringVariable = 'This is a string' #String
numericVariable = 10 #Integer
numericFloatVariable = 25.5 #Float
complexNumber = 2 + 3j #Complex Number
listVariable = ['a','b','c']
tupleVariable = (1,2,3,4)
dictionaryVariable = {1:"Monday", 2:"Tuesday", 3:"Wednesday", 4: "Thursday"}

print('String Example',stringVariable, "|", type(stringVariable))
print('Integer Example',numericVariable, "|",type(numericVariable))
print('Float Example',numericFloatVariable, "|",type(numericFloatVariable))
print('Complex Number Example',complexNumber, "|",type(complexNumber))
print('List Example',listVariable, "|",type(listVariable))
print('Tuple Example',tupleVariable, "|",type(tupleVariable))
print('Dictionary Example',dictionaryVariable, "|",type(dictionaryVariable))

String Example This is a string | <class 'str'>
Integer Example 10 | <class 'int'>
Float Example 25.5 | <class 'float'>
Complex Number Example (2+3j) | <class 'complex'>
List Example ['a', 'b', 'c'] | <class 'list'>
Tuple Example (1, 2, 3, 4) | <class 'tuple'>
Dictionary Example {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday'} | <class 'dict'>

Question 7:
Create a Markdown cell in jupyter and list the steps discussed in the session by Dr. Darshan
Ingle sir to create Github profile and upload Githubs Assignment link.

# **Markdown Example**

## Steps to create Github Profile

**Step 1:**
Go to: https://github.com/join

**Step 2:**
Click on Sign Up

**Step 3:**
Sign up by providing your credentials

**Step 4:**
Create repository and name it ___"LetsUpgrade AI-ML"___

**Step 5:**
Ensure that your repository is made public

**Step 6:**
Upload your folder containing the day's assignment

**Step 7:**
Fill the google form provided by the _LetsUpgrade Team_