Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [ ]:
emailString = "testuser.1@gmail.com"
indexAt = emailString.rindex('@')
indexDot = emailString.rindex('.')
copmanyName = emailString[indexAt+1:indexDot]
print('Company Name = ',copmanyName)

Company Name =  gmail

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [ ]:
myString = input()
myList = []
myList = myString.rsplit(',')
print('Unsorted List',myList)
myList.sort()
print('Sorted List',myList)

d,g,r,r,sa,d,sg,
Unsorted List ['d', 'g', 'r', 'r', 'sa', 'd', 'sg', '']
Sorted List ['', 'd', 'd', 'g', 'r', 'r', 'sa', 'sg']

Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [ ]:
mySet1 = {1,2,3,4,5}
print("Set 1 = ",mySet1)
mySet2 = {6,7,8,9,10}
print("Set 2 = ",mySet2)

mySet1.update(mySet2)
print('Updated Set = ',mySet1)
mySet3 = {'a','b','c','d'}
mySet3.clear()
print('Cleared Set = ',mySet3)
copiedSet = mySet2.copy()
print('Copied Set = ',copiedSet)

setA = {6,7,8}
setB = {7,8,9}
difference = setA.difference(setB)
print('Difference Set = ',difference)

setA = {6,7,8,9,10}
setB = {7,8,9}
setA.difference_update(setB)
print('Difference Update Set = ',setA)

setA.discard(10)
print("After Discard ",setA)

setC = {2,3,4,5}
setD = {2,4,5}
setC.symmetric_difference(setD)
print('Symmetric Difference',setC)


setC.union(setD)
print('Union',setC)

Set 1 =  {1, 2, 3, 4, 5}
Set 2 =  {6, 7, 8, 9, 10}
Updated Set =  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Cleared Set =  set()
Copied Set =  {6, 7, 8, 9, 10}
Difference Set =  {6}
Difference Update Set =  {6, 10}
After Discard  {6}
Symmetric Difference {2, 3, 4, 5}
Union {2, 3, 4, 5}

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [ ]:
numbers = [1,2,4,3,6,5,8,9]
numbers.sort()
for index,n in enumerate(numbers):
  if(index+1 != n):
    print('missing number is', index+1)
    break

missing number is 7

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [ ]:
myList5 = [1,2,2,4,3,4,5,6,5]
finalList = []
for j in myList5:
  if(j not in finalList):
    finalList.append(j)
print(finalList)

[1, 2, 4, 3, 5, 6]